/* Flags */
.en {
  background: url(../img/flags/en.png);
}
.fr {
  background: url(../img/flags/fr.png);
}
.it {
  background: url(../img/flags/it.png);
}
.de {
  background: url(../img/flags/de.png);
}
.es {
  background: url(../img/flags/es.png);
}
.ru {
  background: url(../img/flags/ru.png);
}
.pl {
  background: url(../img/flags/pl.png);
}
.nl {
  background: url(../img/flags/nl.png);
}
.br {
  background: url(../img/flags/br.png);
}
.cn {
  background: url(../img/flags/cn.png);
}
.ko {
  background: url(../img/flags/ko.png);
}
.ja {
  background: url(../img/flags/ja.png);
}

/* ICONS */
.backpack1a {
background-image: url(../img/items/Backpack1a.png);
}
.backpack1b {
background-image: url(../img/items/Backpack1b.png);
}
.backpack2a {
background-image: url(../img/items/Backpack2a.png);
}
.backpack2b {
background-image: url(../img/items/Backpack2b.png);
}
.backpack3a {
background-image: url(../img/items/Backpack3a.png);
}
.backpack3b {
background-image: url(../img/items/Backpack3b.png);
}
.belt {
background-image: url(../img/items/Belt.png);
}
.helmet1a {
background-image: url(../img/items/HelmetLv1a.png);
}
.helmet1b {
background-image: url(../img/items/HelmetLv1b.png);
}
.helmet2a {
background-image: url(../img/items/HelmetLv2a.png);
}
.helmet2b {
background-image: url(../img/items/HelmetLv2b.png);
}
.helmet3a {
background-image: url(../img/items/HelmetLv3.png);
}
.medkit {
background-image: url(../img/items/MedKit.png);
}
.firstaidkit {
background-image: url(../img/items/FirstAid.png);
}
.bandage {
background-image: url(../img/items/Bandage.png);
}
.painkiller {
background-image: url(../img/items/Painkiller.png);
}
.energydrink {
background-image: url(../img/items/EnergyDrink.png);
}
.adrenaline {
background-image: url(../img/items/AdrenalineSyringe.png);
}
.gascan {
background-image: url(../img/items/GasCan.png);
}
.vest1 {
background-image: url(../img/items/VestLv1.png);
}
.vest2 {
background-image: url(../img/items/VestLv2.png);
}
.vest3 {
background-image: url(../img/items/VestLv3.png);
}
.ammo12Gauge {
background-image: url(../img/weapons/12gauge.png);
}
.ammo300magnum {
background-image: url(../img/weapons/300magnum.png);
}
.ammo45acp {
background-image: url(../img/weapons/45acp.png);
}
.ammo556mm {
background-image: url(../img/weapons/556mm.png);
}
.ammo762mm {
background-image: url(../img/weapons/762mm.png);
}
.ammo9mm {
background-image: url(../img/weapons/9mm.png);
}
.bolt {
background-image: url(../img/weapons/bolt.png);
}
.p18c {
background-image: url(../img/weapons/P18C.png);
}
.p92 {
background-image: url(../img/weapons/P92.png);
}
.p1911 {
background-image: url(../img/weapons/P1911.png);
}
.r1895 {
background-image: url(../img/weapons/R1895.png);
}
.s1897 {
background-image: url(../img/weapons/S1897.png);
}
.s686 {
background-image: url(../img/weapons/S686.png);
}
.s12k {
background-image: url(../img/weapons/S12K.png);
}
.m249 {
background-image: url(../img/weapons/M249.png);
}
.microuzi {
background-image: url(../img/weapons/MicroUzi.png);
}
.ump9 {
background-image: url(../img/weapons/UMP9.png);
}
.vector {
background-image: url(../img/weapons/Vector.png);
}
.tommygun {
background-image: url(../img/weapons/TommyGun.png);
}
.akm {
background-image: url(../img/weapons/AKM.png);
}
.m416 {
background-image: url(../img/weapons/M416.png);
}
.m16a4 {
background-image: url(../img/weapons/M16A4.png);
}
.scar-l {
background-image: url(../img/weapons/SCAR-L.png);
}
.groza {
background-image: url(../img/weapons/Groza.png);
}
.awm {
background-image: url(../img/weapons/AWM.png);
}
.kar98 {
background-image: url(../img/weapons/Kar98.png);
}
.m24 {
background-image: url(../img/weapons/M24.png);
}
.sks {
background-image: url(../img/weapons/SKS.png);
}
.vss {
background-image: url(../img/weapons/VSS.png);
}
.crossbow {
background-image: url(../img/weapons/Crossbow.png);
}
.frag {
background-image: url(../img/weapons/Grenade.png);
}
.molotov {
background-image: url(../img/weapons/Molotov.png);
}
.smoke {
background-image: url(../img/weapons/SmokeBomb.png);
}
.stun {
background-image: url(../img/weapons/FlashBang.png);
}
.crowbar {
background-image: url(../img/weapons/Crowbar.png);
}
.machete {
background-image: url(../img/weapons/Machete.png);
}
.pan {
background-image: url(../img/weapons/Pan.png);
}
.sickle {
background-image: url(../img/weapons/Sickle.png);
}
.reddot {
background-image: url(../img/attachments/RedDot.png);
}
.pan {
background-image: url(../img/weapons/Pan.png); 
}
.flash {
background-image: url(../img/weapons/FlashBang.png);
}
.trenchcoat {
background-image: url(../img/clothes/trenchcoat.png);
}
.crate {
background-image: url(../img/items/crate.png);
}
.twitchprimebox {
background-image: url(../img/items/twitchprimebox.png); 
}
.preordercrate {
background-image: url(../img/items/preordercrate.png); 
}
/* WEAPONS LARGE */
.p18c-large {
background-image: url(../img/weapons-large/P18C.png);
}
.p92-large {
background-image: url(../img/weapons-large/P92.png);
}
.p1911-large {
background-image: url(../img/weapons-large/P1911.png);
}
.r1895-large {
background-image: url(../img/weapons-large/R1895.png);
}
.s1897-large {
background-image: url(../img/weapons-large/S1897.png);
}
.s686-large {
background-image: url(../img/weapons-large/S686.png);
}
.s12k-large {
background-image: url(../img/weapons-large/S12K.png);
}
.m249-large {
background-image: url(../img/weapons-large/M249.png);
}
.microuzi-large {
background-image: url(../img/weapons-large/MicroUzi.png);
}
.ump9-large {
background-image: url(../img/weapons-large/UMP9.png);
}
.vector-large {
background-image: url(../img/weapons-large/Vector.png);
}
.tommygun-large {
background-image: url(../img/weapons-large/TommyGun.png);
}
.akm-large {
background-image: url(../img/weapons-large/AKM.png);
}
.m416-large {
background-image: url(../img/weapons-large/M416.png);
}
.m16a4-large {
background-image: url(../img/weapons-large/M16A4.png);
}
.groza-large {
background-image: url(../img/weapons-large/Groza.png);
}
.scar-l-large {
background-image: url(../img/weapons-large/SCAR-L.png);
}
.awm-large  {
background-image: url(../img/weapons-large/AWM.png);
}
.kar98-large  {
background-image: url(../img/weapons-large/Kar98.png);
}
.m24-large  {
background-image: url(../img/weapons-large/M24.png);
}
.sks-large  {
background-image: url(../img/weapons-large/SKS.png);
}
.vss-large  {
background-image: url(../img/weapons-large/VSS.png);
}
.crossbow-large  {
background-image: url(../img/weapons-large/Crossbow.png);
}
/* SIGHTS CSS*/
.reddot {
background-image: url(../img/attachments/RedDot.png);
}
.holographic {
background-image: url(../img/attachments/Holosight.png);
}
.scope2x {
background-image: url(../img/attachments/2xScope.png);
}
.scope4x {
background-image: url(../img/attachments/4xScope.png);
}
.scope8x {
background-image: url(../img/attachments/8xScope.png);
}
.scope15x {
background-image: url(../img/attachments/15xScope.png);
}
.scope15x {
background-image: url(../img/attachments/15xScope.png);
}
/* ATTACHMENTS CSS*/
.supressorsniper {
background-image: url(../img/attachments/SupressorSniper.png); 
}
.compensatorsniper {
background-image: url(../img/attachments/CompensatorSniper.png);  
}
.flashhidersniper {
background-image: url(../img/attachments/FlashHiderSniper.png); 
}
.quickdrawsniper {
background-image: url(../img/attachments/QuickDrawSniper.png); 
}
.extendedmagsniper {
background-image: url(../img/attachments/ExtendedMagSniper.png); 
}
.extendedquickdrawsniper {
background-image: url(../img/attachments/ExtendedQuickDrawSniper.png); 
}
.cheekpadsniper {
background-image: url(../img/attachments/CheekPadSniper.png); 
}
.bulletloopssniper {
background-image: url(../img/attachments/BulletLoopsSniper.png); 
}
.supressorar {
background-image: url(../img/attachments/SupressorAR.png); 
}
.compensatorar {
background-image: url(../img/attachments/CompensatorAR.png);  
}
.flashhiderar {
background-image: url(../img/attachments/FlashHiderAR.png); 
}
.quickdrawar {
background-image: url(../img/attachments/QuickDrawAR.png); 
}
.extendedmagar {
background-image: url(../img/attachments/ExtendedMagAR.png); 
}
.extendedquickdrawar {
background-image: url(../img/attachments/ExtendedQuickDrawAR.png); 
}
.supressorsmg {
background-image: url(../img/attachments/SupressorSmg.png);
}
.compensatorsmg {
background-image: url(../img/attachments/CompensatorSmg.png);  
}
.flashhidersmg {
background-image: url(../img/attachments/FlashHiderSmg.png); 
}
.quickdrawsmg {
background-image: url(../img/attachments/QuickDrawSmg.png); 
}
.extendedmagsmg {
background-image: url(../img/attachments/ExtendedMagSmg.png); 
}
.extendedquickdrawsmg {
background-image: url(../img/attachments/ExtendedQuickDrawSmg.png); 
}
.tacticalstock {
background-image: url(../img/attachments/TacticalStock.png); 
}
.angledforegrip {
background-image: url(../img/attachments/AngledForeGrip.png); 
}
.verticalforegrip {
background-image: url(../img/attachments/VerticalForegrip.png); 
}
.choke {
background-image: url(../img/attachments/ChokeShotgun.png); 
}
.bulletloopsshotgun {
background-image: url(../img/attachments/BulletLoopsShotgun.png); 
}
.supressorpistol {
background-image: url(../img/attachments/SupressorPistol.png);
}
.quickdrawpistol{
background-image: url(../img/attachments/QuickDrawPistol.png); 
}
.extendedmagpistol {
background-image: url(../img/attachments/ExtendedMagPistol.png); 
}
.extendedquickdrawpistol {
background-image: url(../img/attachments/ExtendedQuickDrawPistol.png); 
}
.quiver {
background-image: url(../img/attachments/Quiver.png); 
}
/* Clothes CSS */
.baseballcap {
background-image: url(../img/clothes/baseballcap.png); 
}
.bloodyshirt {
background-image: url(../img/clothes/bloodyshirt.png); 
}
.bloodytanktop-white {
background-image: url(../img/clothes/bloodytanktop-white.png); 
}
.boots-punk {
background-image: url(../img/clothes/boots-punk.png); 
}
.combatpants-blue {
background-image: url(../img/clothes/combatpants-blue.png); 
}
.combatpants-camo {
background-image: url(../img/clothes/combatpants-camo.png); 
}
.combatpants-greycamo {
background-image: url(../img/clothes/combatpants-greycamo.png); 
}
.combatpants-white {
background-image: url(../img/clothes/combatpants-white.png); 
}
.dirtytanktop-grey {
background-image: url(../img/clothes/dirtytanktop-grey.png); 
}
.dirtytanktop-white {
background-image: url(../img/clothes/dirtytanktop-white.png); 
}
.fingerlessgloves-leather {
background-image: url(../img/clothes/fingerlessgloves-leather.png); 
}
.fingerlessgloves-tan {
background-image: url(../img/clothes/fingerlessgloves-tan.png); 
}
.gasmask {
background-image: url(../img/clothes/gasmask.png); 
}
.gasmask-half {
background-image: url(../img/clothes/gasmask-half.png); 
}
.glasses-punk {
background-image: url(../img/clothes/glasses-punk.png); 
}
.greyboots {
background-image: url(../img/clothes/greyboots.png); 
}
.grey-shirt {
background-image: url(../img/clothes/grey-shirt.png); 
}
.jeans-tan {
background-image: url(../img/clothes/jeans-tan.png); 
}
.longsleevedtshirt-black {
background-image: url(../img/clothes/longsleevedtshirt-black.png); 
}
.longsleevedtshirt-lightblue {
background-image: url(../img/clothes/longsleevedtshirt-lightblue.png); 
}
.longsleevedtshirt-striped {
background-image: url(../img/clothes/longsleevedtshirt-striped.png); 
}
.paddedjacket-beige {
background-image: url(../img/clothes/paddedjacket-beige.png); 
}
.paddedjacket-camo {
background-image: url(../img/clothes/paddedjacket-camo.png); 
}
.paddedjacket-grey {
background-image: url(../img/clothes/paddedjacket-grey.png); 
}
.paddedjacket-khaki {
background-image: url(../img/clothes/paddedjacket-khaki.png); 
}
.paddedjacket-purple {
background-image: url(../img/clothes/paddedjacket-purple.png); 
}
.paddedjacket-urban {
background-image: url(../img/clothes/paddedjacket-urban.png); 
}
.pu-bandana {
background-image: url(../img/clothes/pu-bandana.png); 
}
.pu-set {
background-image: url(../img/clothes/pu-set.png); 
}
.pu-trenchcoat {
background-image: url(../img/clothes/pu-trenchcoat.png); 
}
.red-hitoptrainers {
background-image: url(../img/clothes/red-hitoptrainers.png); 
}
.rimless-sunglasses {
background-image: url(../img/clothes/rimless-sunglasses.png); 
}
.shirt-black {
background-image: url(../img/clothes/shirt-black.png); 
}
.shirt-white {
background-image: url(../img/clothes/shirt-white.png); 
}
.sunglasses {
background-image: url(../img/clothes/sunglasses.png); 
}
.tanktop-charcoal {
background-image: url(../img/clothes/tanktop-charcoal.png); 
}
.tshirt-red {
background-image: url(../img/clothes/tshirt-red.png); 
}
.twitchprimebalaclava {
background-image: url(../img/clothes/twitchprimebalaclava.png); 
}
.twitchprimeboots {
background-image: url(../img/clothes/twitchprimeboots.png); 
}
.twitchprimecombatpants {
background-image: url(../img/clothes/twitchprimecombatpants.png); 
}
.twitchprimeshirt {
background-image: url(../img/clothes/twitchprimeshirt.png); 
}
.vintagebaseballhat-white {
background-image: url(../img/clothes/vintagebaseballhat-white.png); 
}
.workingboots {
background-image: url(../img/clothes/workingboots.png); 
}
.vehicles {
background-image: url(../img/vehicles/dacia.png); 
}
.dacia {
background-image: url(../img/vehicles/dacia-image.jpg); 
}







































