/*
12 - Menu CSS
130 - Resources Css






*/
#splash {
position: absolute;
width: 100%;
height: 100%;
z-index: 999999999;
background-image: url(../img/companion.png);
background-repeat: no-repeat;
background-position: center center;
background-color: #333;
background-size: 256px;
-webkit-transition-duration: .3s;
transition-duration: .3s;
}


body {
font-family: 'Roboto', Microsoft YaHei;
font-weight: 400;
font-size: 14px;
margin: 0 auto;
}

body .navbar,
body .subnavbar,
body .toolbar {
background: #444;
}
.apptitle {
font-family: Roboto;
font-size: 26px;
letter-spacing: 1px;
}
.preloader-indicator-overlay {
visibility: hidden;
opacity: 0;
background: 0 0;
display: none;
}
.page.transparent .navbar{
background: transparent;
}
.page.transparent .page-content {
padding-top: 0px;
}
.page.transparent .apptitle,
.page.transparent i.icon7 {
display: none;
}
.navbar.normal .page-content {
padding-top: 56px;
}
/*
body.with-panel-left-cover .views {
-webkit-transform: translate3d(260px,0,0);
transform: translate3d(260px,0,0);
transition: all 0.3s ease;
}
.views {
transform: translate3d(0px,0,0);
}*/
.themeChooser {
display: block;
margin: 0 0 10px;
}
.themeChooser p {
display: block;
margin: 5px 15px;
color: #333;
}
.themeChange {
display: block;
margin: 0 0 5px 15px;
cursor: pointer;
height: 18px;
width: 18px;
border: 1px solid #000
}
.themeText {
display: inline-block;
margin: 0 0 0 25px;
color: #333;
}
.lightTheme {
background: #eee;
}
.lightTheme .darktheme .themeText {
color: #333;
}
.lightTheme .page-content {
background-color: #eee;
}
.darkTheme {
background: #333;
}
.darkTheme .panel-left {
background: #333;
}
.darkTheme .langswitch {
color: #eee;
}
.darkTheme .themeChooser p {
display: block;
margin: 5px 15px;
color: #333;
}
.darkTheme .darkTheme {
background: #000;
}
.darkTheme .darkTheme .themeText {
color: #eee;
}
.darkTheme .lightTheme .themeText {
color: #eee;
}
.darkTheme .menu-text {
color: #eee;
}
.darkTheme .left-menu {
border-top: 1px solid #000;
}
.darkTheme .left-menu .menu-item {
border-bottom: 1px solid #000;
}
.darkTheme .page-content {
background-color: #333;
}
.darkTheme .accordion-item-toggle,
.darkTheme .accordion-item-content {
color: #eee;
}
.darkTheme .note-text-edit {
background: #333;
color: #eee;
}
.darkTheme .note {
background: #222;
color: #eee;
}
.darkTheme .note-text {
color: #eee;
}
.darkTheme .note-text-edit {
background: #333;
color: #eee;
}
.darkTheme .info-title {
background: #222;
color: #eee;
}
.darkTheme .info-text {
background: #333;
color: #eee;
}
.darkTheme .build-text,
.darkTheme .recharge-text,
.darkTheme .info-title {
background: #222;
color: #eee;
}
.darkTheme .crafting-text,
.darkTheme .item-list-text,
.darkTheme .upgrades-text,
.darkTheme .item-list-text {
background: #222;
color: #eee;
}
.darkTheme .build-text {
background: #222;
color: #eee;
}

.disabled {
opacity: 0.3;
}
.page-content {
background-color: #1d1d1d;
padding-bottom: 56px;
-webkit-transition-duration: .3s;
transition-duration: .3s;
}
p {
margin: 5px 0;
}

.center {
text-align: center;
}

i.icon7 {
width: 48px;
height: 48px;
float: left;
margin: 4px 10px 4px 4px;
background-size: contain;
background-image: url(../img/atlas-icon-96px.png);
}
/* Left Menu */
.langswitch {
margin: 5px 16px;
display: inline-block;
}

a.en, a.fr, a.it,
a.de, a.es, a.ru,
a.pl, a.nl, a.br,
a.cn, a.ko, a.ja {
width: 24px;
height: 24px;
display: block;
float: left;
margin: 5px 5px 5px 0;
cursor: pointer;
background-repeat: no-repeat;
background-size: 24px 24px;
border: none;
}
.panel.panel-left.panel-cover {
padding-bottom: 56px;
}
.panel-left {
background: #333;
color: #fff;
}
.left-menu {
border-top: 1px solid #000;
}
.left-menu .item-list i {
width: 48px;
height: 48px;
}

.left-menu .item-list {
height: 48px;
line-height: 48px;
}

/* End Left Menu */

/* Page */
.content-block-single {
margin: 10px 10px;
box-shadow: 0px 4px 2px rgba(0,0,0,0.50);
}
.content-block.center {
margin: 5px 0px;
}
.content-block.left {
margin-bottom: 10px;
margin-top: 10px;
text-align: left;
}
.center-block {
margin-bottom: 10px;
margin-top: 10px;
text-align: center;
}

/* Main Menu */
.mainbg {
background-image: url(../img/main_bg.jpg);
display: block;
min-width: 320px;
width: 100%;
max-width: 360px;
height: 150px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0 auto;
position: relative;
}
.companion {
background-image: url(../img/companion.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
display: block;
width: 182px;
height: 72px;
margin: auto;
position: absolute;
bottom: 20px;
left: 0px;
right: 0px;
}
i {
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
.main-menu {
display: block;
padding: 15px;
margin: 0 auto;
}
.main-menu .menu-title {
display: block;
background: #252525;
padding: 5px 5px 5px 15px;
position: relative;
font-size: 15px;
margin: 0;
color: #ffd200;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
border-bottom: 1px solid #000;
}
.menu-title {
display: block;
background: #252525;
padding: 5px 5px 5px 15px;
position: relative;
font-size: 15px;
margin: 0;
color: #ffd200;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
border-bottom: 1px solid #000;
}
.menu-items {
font-size: 0;
}
.main-menu a {
display: inline-block;
height: auto;
background-color: #25272a;
margin: 2px;
}
.main-menu i {
display: block;
margin: 0 auto;
width: 75px;
height: 75px;
vertical-align: top;
background-color: #333;
border-bottom: 1px solid #000;
}
.main-menu span {
color: #fff;
margin: 0;
display: table-cell;
font-size: 12px;
border-top: 1px solid #333;
text-align: center;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: 15px;
width: 67px;
padding: 4px 4px;
height: 40px;
vertical-align: middle;
}

.main-menu.block {
text-align: center;
padding: 0px;
}
/* End Main Menu */

/* Menu lists*/
.item-list {
display: block;
width: 100%;
height: 60px;
line-height: 60px;
background-color: #272627;
border-bottom: 1px solid #000;
border-top: 1px solid #333;
position: relative;
}
.item-list i {
display: inline-block;
width: 60px;
height: 60px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: #333;
vertical-align: middle;
}
.item-list .name {
display: inline-block;
color: #f9f9f9;
font-size: 14px;
width: 130px;
padding: 0 10px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: 20px;
vertical-align: middle;
}
.item-list.attachment .name {
width: 160px;
}
.item-list.attachment .list-info {
width: 60px;
}
.item-list.attachment .info {
text-transform: capitalize;
color: #ffd200;
}
.attachableto {
display: block;
background: #131313;
padding: 5px 5px 5px 10px;
position: relative;
font-size: 15px;
margin: 0;
color: #f0f0f0;
transition: all .2s ease;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
border-bottom: 1px solid #000;
}
.list-info {
width: 80px;
padding: 0 10px 0 0;
display: inline-table;
vertical-align: middle;
text-align: center;
}
.item-list .info {
display: block;
margin: 5px 0;
color: #f9f9f9;
font-size: 14px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: normal;
}
.item-list .info-value {
display: block;
margin: 0;
color: #f9f9f9;
font-size: 14px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: normal;
}
.item-list .type {
display: block;
margin: 5px 0;
color: #f9f9f9;
font-size: 14px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: normal;
}
.item-list .amount {
display: block;
margin: 0;
color: #f9f9f9;
font-size: 14px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
line-height: normal;
}
.twitchprimebalaclava .info,
.pu-bandana .info,
.twitchprimeshirt .info,
.jeans-tan .info,
.twitchprimecombatpants .info,
.twitchprimeboots .info,
.grey-shirt .info,
.pu-trenchcoat .info,
.red-hitoptrainers .info,
.twitchprimebalaclava .bp,
.pu-bandana .bp,
.twitchprimeshirt .bp,
.jeans-tan .bp,
.twitchprimecombatpants .bp,
.twitchprimeboots .bp,
.grey-shirt .bp,
.pu-trenchcoat .bp,
.red-hitoptrainers .bp{
display: none;
}

/* General Css */
.blocktitle {
display: block;
font-weight: bold;
background: #333;
padding: 5px 5px 5px 10px;
margin: 5px 0 5px;
color: #ffd200;
position: relative;
}
.title {
display: block;
font-weight: bold;
background: #333;
padding: 7px 5px 6px 10px;
margin: 5px 0 5px;
color: #ffd200;
position: relative;
cursor: pointer;
}
.content-block {
margin: 0;
background: #272627;
}
.text {
color: #fff;
margin: 0;
padding: 8px 0;
}
.simpletext {
color: #fff;
padding: 2px 0;
margin: 0;
}
.text-title {
color: #fff;
font-size: 15px;
}
.content-block .item-image {
	height: 230px;
}
.content-block .item-image i {
	width: 240px;
	height: 240px;
}
.hidden-content {display: none;}
.show {
display: inline-block;
float: right;
background-image: url(../img/icons/arrowleft.png);
width: 32px;
height: 30px;
background-color: #ffd200;
background-size: 26px;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
position: absolute;
top: 1px;
right: 10px;
}
.show.active {
transform: rotate(180deg);
}



/* Single Item*/

.card {
display: inline-block;
margin: 0px 0px 5px;
background-image: none;
}
/*
.card {
min-width: 300px;
width: 100%;
}
*/
.titleblock {
display: block;
background: #2b2b2b;
padding: 5px 5px 5px 15px;
position: relative;
font-size: 15px;
margin: 0;
color: #ffd200;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
}
.single-item {
display: inline-block;
background: #ccc;
min-width: 320px;
width: 100%;
background-image: none;
}
.single-attachment {
display: inline-block;
background: #ccc;
min-width: 320px;
width: 100%;
background-image: none;
}
.single-attachment .item-details .type {
text-transform: capitalize;
}

.single-popup {
display: none;
background: #ccc;
background-image: none;
z-index: 3;
margin: auto;
width: 100%;
height: 280px;
top: 80px;
left: 0;
right: 0;
position: fixed;
}
.single-popup .item-image {
height: 240px;
}
.single-popup .item-image i {
height: 240px;
width: 240px;
}
.single-popup .item-details .name {
margin: 0 40px 6px 0;
}
.backdrop {
display: none;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
background: #1d1d1d;
z-index: 2;
overflow-y: auto;
}
.closepopuplink:active {
transform: scale(0.9);
}
.closepopuplink {
background: #131313;
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
display: inline-block;
width: 30px;
height: 30px;
margin: 0;
position: absolute;
right: 10px;
top: 10px;
border: 1px solid #000;
transition: all .2s ease;
cursor: pointer;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
}
.closepopuplink::before {
height: 16px;
left: 13px;
top: 7px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.closepopuplink::after {
height: 16px;
right: 13px;
top: 7px;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.closepopuplink::before, .closepopuplink::after {
background: #fff;
content: '';
display: block;
position: absolute;
width: 4px;
transition: all .2s ease;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
}
.item-details {
padding: 10px 10px 5px;
line-height: 16px;
position: relative;
}
.item-details .name {
display: block;
font-size: 17px;
font-weight: bold;
line-height: 18px;
text-transform: uppercase;
margin: 0 0 6px;
color: #333;
}
.l-details {
display: inline-block;
float: left;
width: 50%;
font-size: 13px;
color: #fff;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
}
.r-details {
display: inline-block;
float: right;
width: 50%;
font-size: 13px;
text-align: right;
color: #fff;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
}
.r-details a {
color: #fff;
}
.r-details i {
width: 40px;
height: 40px;
display: inline-block;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
top: 0px;
right: 32px;
}
.r-details .capacity::after {
content: "";
background-image: url(../img/icons/military-magazin-icon.png);
background-size: cover;
background-repeat: no-repeat;
width: 12px;
height: 12px;
display: inline-block;
vertical-align: middle;
margin-left: 2px;
position: relative;
top: -1px;
}
.l-details .bp {
font-size: 24px;
font-weight: 500;
color: #ffd100;
position: absolute;
}
.l-details .bp::before {
content: "";
background-image: url(../img/icons/bp.png);
background-size: cover;
background-repeat: no-repeat;
width: 26px;
height: 26px;
display: inline-block;
vertical-align: middle;
margin-left: 2px;
position: relative;
top: -2px;
margin-right: 10px;
}
.wpn-image {
position: relative;
width: 100%;
height: auto;
margin: 0 auto 35px;
display: inline-block;
text-align: center;
}
.wpn-image .icon-small {
display: none;
}
.wpn-image i {
display: inline-block;
width: 90%;
height: 90px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
.slots {
display: block;
width: 100%;
z-index: 1;
margin: -20px 0 0 0;
}
.slots i {
display: inline-block;
width: 36px;
height: 36px;
background-color: rgba(68, 66, 63, 0.7);
margin: 0 10px;
border: 1px solid rgba(19, 19, 19, 0.65);
}
.muzzle-slot {
display: inline-block;
width: 25%;
height: 40px;
}
.grip-slot {
display: inline-block;
width: 25%;
height: 40px;
}
.mag-slot {
display: inline-block;
width: 25%;
height: 40px;
}
.stock-slot {
display: inline-block;
width: 25%;
height: 40px;
}
.slots i.muzzle {
float: left;
margin-left: 0px;
}
.slots i.grip {
float: left;
margin-left: 0px;
}
.slots i.mag {
float: left;
margin-left: 0px;
}
.slots i.stock {
float: right;
margin-right: 0px;
}
.slots i.none {
display: none;
}
.compare {
font-size: 12px;
font-weight: bold;
cursor: pointer;
color: #ffd200;
line-height: 22px;
position: absolute;
bottom: -40px;
left: -5px;
padding: 3px;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
}
.compare .c-icon {
width: 26px;
height: 26px;
vertical-align: bottom;
margin: 0 5px 0 0;
}
.c-icon {
background-image: url(../img/icons/compare.png);
}
.wpn-desc {
line-height: 17px;
margin: 5px 0 0 0;
}

.slots .att-names {
display: none;
}
.slots .att-names.active {
display: block;
width: 74px;
position: absolute;
top: 18px;
background: rgba(68, 66, 63, 0.7);
font-size: 10px;
color: #f9f9f9;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
z-index: 1;
}
.item-details .cap {

}
.item-details .ivalue {
margin: 0 5px;
}
.item-details .lvalue {
margin-left: 5px;
}
.item-details .rvalue {
margin-right: 5px;
}
.item-details .type {

}
.item-details .duration {

}
.item-details .totalheal {

}
.item-details .amount {

}
.item-image {
display: inline-block;
width: 100%;
height: 150px;
text-align: center;
}
.item-image i {
display: inline-block;
width: 150px;
height: 150px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
.item-desc {
margin: 0 10px 10px;
}
.item-desc .description {
font-size: 12px;
font-family: "Roboto";
line-height: 15px;
}

.item-image i.none {
display: none;
}
.item-stats {
background: #333;
display: block;
padding: 5px 16px 10px;
color: #fff;
text-shadow: 1px 1px 0px #131313;
position: relative;
}
.stats {
font-size: 13px;
margin: 2px 0 2px;
line-height: 18px;
display: inline-block;
}
.outer-bar {
width: 100%;
height: 4px;
background: #131313;
position: relative;
}
.inner-bar {
top: -4px;
height: 4px;
background: #fff;
position: relative;
}
.bonus-bar {
top: 0px;
height: 4px;
background: #ffd200;
position: relative;
width: 0px;
}
.value {
position: absolute;
right: 5px;
top: -21px;
font-size: 13px;
}
.value.yellow {
color: #ffd200;
}

.attachments {
display: inline-block;
vertical-align: top;
background: #585858;
width: 100%;
float: left;
border-top: 1px solid #000000;
}
.attachments-title {
display: block;
background: #252525;
padding: 5px 5px 5px 10px;
position: relative;
cursor: pointer;
font-size: 15px;
margin: 0;
color: #f0f0f0;
transition: all .2s ease;
text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
border-bottom: 1px solid #000;
}
.attachments-title.active {
transition: all .2s ease;
background-color: #131313;
}
.attachment-details {
display: block;
width: 100%;
height: 50px;
line-height: 50px;
border-bottom: 1px solid #000;
background-color: #272627;
position: relative;
}
.attachment-details i {
display: inline-block;
width: 50px;
height: 50px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: #44423f;
vertical-align: middle;
}
.attachment-details .name {
display: inline-block;
color: #f9f9f9;
font-size: 12px;
line-height: 20px;
vertical-align: middle;
width: 200px;
margin: 0 10px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
}
.attachment-details .verified {
position: absolute;
left: 38px;
top: 17px;
height: 0px;
color: #fcd000;
font-size: 12px;
text-shadow: 0 2px 1px #0c0c0c, 0px -2px 1px #0c0c0c, 2px 0px 1px #0c0c0c, -2px 0px 1px #0c0c0c;
}
.att.none,
.att.none + label {
display: none;
}
.att {
cursor: pointer;
width: 32px;
height: 32px;
margin: 0;
position: absolute;
opacity: 0;
z-index: 2;
}
.att, .att + label {
right: 10px;
top: 10px;
}
.att + label {
background: #131313;
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
display: inline-block;
width: 30px;
height: 30px;
margin: 0;
position: absolute;
border: 1px solid #000;
transition: all .2s ease;
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

.att + label::before,
.att + label::after {
background: #fff;
content: '';
display: block;
position: absolute;
width: 4px;
transition: all .2s ease;
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

.att:checked + label::before,
.att:checked + label::after {
background: #0e0e0e;
}

.att + label::before {
height: 16px;
left: 13px;
top: 7px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.att + label::after {
height: 16px;
right: 13px;
top: 7px;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.att:checked + label {
background: #ffd200;
}
.att:checked + label::before {
height: 9px;
left: 9px;
top: 13px;
-webkit-transform: rotate(-47deg);
transform: rotate(-47deg);
}
.att:checked + label::after {
height: 15px;
right: 11px;
top: 8px;
}

.sights {
display: inline-block;
vertical-align: top;
background: #585858;
width: 100%;
float: left;
}

/* Compare Weapons Box */
.wpns-bg {
display: none;
}
.wpns-bg.active {
display: block;
position: fixed;
background: rgba(29, 29, 29, 0.9);
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 2;
height: 100%;
}
.wpns-box {
width: 320px;
margin: auto;
position: absolute;
top: -1000px;
left: 0;
bottom: 0;
right: 0;
opacity: 1;
transition: 0.3s ease-out;
display: none;
}
.wpns-box.active {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #1d1d1d;
transition: 0.3s ease-out;
opacity: 1;
z-index: 3;
overflow-y: auto;
width: 320px;
margin: auto;
display: block;
}
.item-one {
position: absolute;
display: inline-block;
left: 0px;
transition: all 0.3s ease-out;
}
.item-two {
position: absolute;
display: inline-block;
right: 0px;
transition: all 0.3s ease-out;
}
.clearbox {
display: inline-block;
text-align: center;
vertical-align: top;
position: absolute;
width: 100%;
top: 10px;
text-transform: uppercase;
font-size: 12px;
cursor: pointer;
}
.close {
background-color: #ffd200;
padding: 10px;
margin-top: -11px;
display: inline-block;
color: #222;
font-weight: 500;
}
.wpns-box .card {
box-shadow: none;
}
.wpns-box .single-item {
width: 132px;
min-width: 132px;
}
.wpns-box .item-details {
min-height: 124px;
}
.wpns-box .item-details .name {
font-size: 14px;
}
.wpns-box .l-details {
display: none;
}
.wpns-box .r-details {
float: none;
width: 100%;
font-size: 12px;
text-align: left;
}
.wpns-box a {
pointer-events: none;
cursor: default;
}
.wpns-box .ammo i {
display: none;
}
.wpns-box .item-image {
margin: 0 auto 0px;
}
.wpns-box .item-image i {
width: 80px;
height: 80px;
}
.wpns-box .icon-small {
display: block;
margin: 0 auto;
}
.wpns-box .verified, .wpns-box .icon-large {
display: none;
}
.wpns-box .large, .wpns-box .slots {
display: none;
}
.wpns-box .compare, .wpns-box .wpn-desc {
display: none;
}
.wpns-box .item-one .value {
right: -38px;
color: #fcd000;
font-size: 13px;
text-shadow: none;
font-weight: 400;
text-align: left;
width: 22px;
}
.wpns-box .item-one .bonus-bar {
right: 0px;
top: 0px;
position: absolute;
}
.wpns-box .item-one .inner-bar {
right: 0px;
top: 0px;
position: absolute;
}
.wpns-box .item-two .value {
left: -38px;
color: #fcd000;
font-size: 13px;
text-shadow: none;
font-weight: 400;
text-align: right;
width: 22px;
}
.wpns-box .item-stats {
padding: 0 10px 10px 10px;
}
.wpns-box .item-one .item-stats {
text-align: right;
}
.clear {
text-align: center;
cursor: pointer;
color: #fff;
position: absolute;
left: 44%;
font-weight: bold;
}
.value.power.green,
.value.range.green,
.value.stability.green,
.value.rate.green {
color: #39dc56;
}
.value.power.red,
.value.range.red,
.value.stability.red,
.value.rate.red {
color: #fd473c;
}
.value.default {
color: #fcd000;
}
.inner-bar.default {
background-color: #fcd000;
}
.inner-bar.red {
background-color: #fd473c;
}
.inner-bar.green {
background-color: #39dc56;
}
.wpns-box .sights,
.wpns-box .show,
.wpns-box .attach,
.wpns-box .attach .att,
.wpns-box .attach .att + label{
display: none;
}
.wpns-box .hidden-content,
.wpns-box .attach.active{
display: block !important;
}
.wpns-box .attachments-title {
display: none;
}
.wpns-box .attachments-title {
display: block;
background: #252525;
padding: 4px 10px;
font-size: 12px;
}
.wpns-box .attachment-details {
height: 32px;
line-height: 32px;
}
.wpns-box .attachment-details i {
width: 32px;
height: 32px
}
.wpns-box .attachment-details .name {
width: 80px;
font-size: 11px;
line-height: 32px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
vertical-align: middle;
}
.hide {
display: none;
}
.selectedWpn {
display: none;
}
.card.vss .attachs,
.card.s1897 .sights,
.card.s686 .sights,
.card.microuzi .sights,
.single-item.Pistol .sights{
display: none;
}

.comparebox {
    position: absolute;
    bottom: -110;
    display: block;
    height: 110px;
    width: 320px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
	transition: all .2s ease;
}
.comparebox.active {
	bottom: 0;
}
.comparetext {
    display: block;
    color: #fff;
    background: #333;
    padding: 5px 16px;
    width: 288px;
}
.selected-wpn {
    background: #cccccc;
}
.selected-wpn i {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}
.comparebox .name {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin: 0 0 0 10px;
    font-size: 18px;
}
.showbox {
	display: inline-block;
    float: right;
    background-image: url(../img/icons/arrowleft.png);
    width: 32px;
    height: 30px;
    background-color: #ffd200;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 10px;
}
.showbox.active {
	transform: rotate(180deg);
}
.comparebox.active.collapsed {
    bottom: -80px;
}

.cancel {
    position: absolute;
    right: 20px;
    top: 50px;
    font-size: 16px;
    text-shadow: 0 1px 1px #0c0c0c, 0px -1px 1px #0c0c0c, 1px 0px 1px #0c0c0c, -1px 0px 1px #0c0c0c;
    color: #fff;
    width: 80px;
    text-align: center;
    background: #f44336;
    border: 1px solid #333;
    cursor: pointer;
    height: 38px;
    vertical-align: middle;
    line-height: 38px;
}


@font-face {
font-family: 'Bebas Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Bold'), url('../fonts/BebasNeueBold.woff') format('woff');
}
@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

/* Boost Bars */
.booster-bar {
display: block;
position: relative;
float: left;
}
.boost {
content: "";
width: 28px;
height: 28px;
background-image: url(../img/icons/boost.png);
background-size: cover;
background-repeat: no-repeat;
position: absolute;
right: 50%;
top: -25px;
}
.heal {
content: "";
width: 28px;
height: 28px;
background-image: url(../img/icons/heal.png);
background-size: cover;
background-repeat: no-repeat;
position: absolute;
right: 40%;
top: -25px;
}
.bar {
display: block;
width: 300px;
height: 4px;
margin-bottom: 5px;
margin-top: 5px;
float: left;
position: relative;
}
.bar1, .bar2,
.bar3, .bar4 {
height: 4px;
display: inline-block;
background-color: #484848;
margin-right: 1%;
float: left;
position: relative;
box-shadow: 0px 1px 1px #000;
}
.bar1 {width: 19%;}
.bar2 {width: 39%;}
.bar3 {width: 29%;}
.bar4 {width: 9%;}

.ibar1, .ibar2,
.ibar3, .ibar4 {
display: inline-block;
height: 4px;
position: absolute;
top: 0px;
}
.ibar1 {background-color: #fcbb10;}
.ibar2 {background-color: #ff9a0a;}
.ibar3 {background-color: #f87c13;}
.ibar4 {background-color: #f87c13;}
/* Bar 100% */
.bar.b100 .ibar1 {width: 100%}
.bar.b100 .ibar2 {width: 100%}
.bar.b100 .ibar3 {width: 100%}
.bar.b100 .ibar4 {width: 100%}
/* Bar 60%*/
.bar.b60 .ibar1 {width: 100%}
.bar.b60 .ibar2 {width: 100%}
.bar.b60 .ibar3,
.bar.b60 .ibar4{width: 0%}
/* Bar 40%*/
.bar.b40 .ibar1 {width: 100%}
.bar.b40 .ibar2 {width: 60%}
.bar.b40 .ibar3,
.bar.b40 .ibar4{width: 0%}


/* MEDIA QUERIES */

@media screen and (min-width:320px) {
.page-content::-webkit-scrollbar {
display: none;
}
}
@media screen and (device-width: 360px) {
.mainbg {
width: 360px;
height: 180px;
}
}
@media screen and (min-width:645px) {

}
@media screen and (min-width:958px) {

}
/*
@media screen and (max-width: 768px) {
.item-image i {
max-width: 80px;
}
}
@media (max-width: 1366px) and (min-width: 768px) {
.single-item {
width: 266px;
}
.attachment-details .name {
width: 150px;
}
}
@media (max-width: 1366px) and (min-width: 768px)
index.html:1210
.attachment-details .name {
width: 150px;
}*/
.none {
display: none;
}
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/

/* TABS */

.tabs-menu {
background: #333;
list-style: none;
width: 100%;
height: 42px;
padding: 0;
margin: 0;
}

.tabs-menu li {
height: 32px;
line-height: 32px;
padding: 5px;
margin: 0 auto;
display: inline-block;
vertical-align: middle;
}
.tabs-menu li i {
width: 32px;
height: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: inline-block;
vertical-align: middle;
display: none;
}

.tabs-menu li.current {
position: relative;
z-index: 5;
background-color: #25272a;
}
.tabs-menu li a {
text-transform: uppercase;
color: #fff;
text-decoration: none;
text-align: center;
}
.tabs-menu .current a {
color: #fff;
}
.tabs-menu li span {
font-family: 'Roboto', Microsoft YaHei;
-webkit-font-smoothing: antialiased;
font-size: 12px;
font-weight: 400;
line-height: 14px;
height: 32px;
display: table-cell;
vertical-align: middle;
width: 75px;
text-transform: capitalize;
text-align: center;
white-space: normal;
}

.tab {
float: left;
padding: 0px;
}

.tab-content {
width: 100%;
display: none;
margin: 0 auto;
}

#tab-1 {
display: block;
}