/* Flags */
.en {background: url(../img/flags/en.png);}
.fr {background: url(../img/flags/fr.png);}
.it {background: url(../img/flags/it.png);}
.de {background: url(../img/flags/de.png);}
.es {background: url(../img/flags/es.png);}
.ru {background: url(../img/flags/ru.png);}
.pl {background: url(../img/flags/pl.png);}
.nl {background: url(../img/flags/nl.png);}
.br {background: url(../img/flags/br.png);}
.cn {background: url(../img/flags/cn.png);}
.ko {background: url(../img/flags/ko.png);}
.ja {background: url(../img/flags/ja.png);}
/* Menu Icons */
.menu-galaxy {background-image: url(../img/icons/galaxy.png);}
.menu-stars {background-image: url(../img/icons/star.png);}
.menu-planets {background-image: url(../img/icons/menu_planets.png);}
.menu-substances {background-image: url(../img/icons/menu_resources.png);}
.menu-products {background-image: url(../img/icons/products-icon.png);}
.menu_plants {background-image: url(../img/icons/menu_plants.png);}
.menu-upgrades {background-image: url(../img/icons/menu_upgrades_2.png);}
.menu-structures {background-image: url(../img/icons/menu_buildings.png);}
.menu-exosuit {background-image: url(../img/icons/menu_player.png);}
.menu-multitool {background-image: url(../img/icons/menu_multitool.png);}
.menu-starship {background-image: url(../img/icons/menu_ship_fighter.png);}
.menu-vehicles {background-image: url(../img/icons/menu_vehicle.png);}
.menu-settings {background-image: url(../img/icons/menu_settings.png);}
.menu-freighter {background-image: url(../img/icons/menu_freighter.png);}
.menu-yellow-star {background-image: url(../img/icons/yellowstar.png);}
.menu-blue-star {background-image: url(../img/icons/bluestar.png);}
.menu-green-star {background-image: url(../img/icons/greenstar.png);}
.menu-red-star {background-image: url(../img/icons/redstar.png);}
.menu-recipes {background-image: url(../img/icons/refiner.png);}
.menu_powercell {background-image: url(../img/icons/menu_powercell.png);}
.menu_launchfuel {background-image: url(../img/icons/menu_launchfuel.png);}
.menu_megaprod {background-image: url(../img/icons/menu_megaprod.png);}
.menu_treasures {background-image: url(../img/icons/menu_treasures.png);}
.tabcraft {background-image: url(../img/icons/craftprod.png);}
.arrow_recipes {background-image: url(../img/icons/input.png);}
.tabrecipes {background-image: url(../img/icons/refiner_icon.png);}
.check_on {background-image: url(../img/icons/CHECKBOX.ON.png);}
.check_off {background-image: url(../img/icons/CHECKBOX.OFF.png);}

.menu-substances-all {background-image: url(../img/icons/menu_resources_all3.png);}
.menu-substances-fuel {background-image: url(../img/icons/menu_resources_fuel.png);}
.menu-substances-metal {background-image: url(../img/icons/menu_resources_metal.png);}
.menu-substances-earth {background-image: url(../img/icons/menu_resources_earth.png);}
.menu-substances-catalyst {background-image: url(../img/icons/menu_resources_catalyst.png);}
.menu-substances-exotic {background-image: url(../img/icons/menu_resources_exotic.png);}
.menu-substances-stellar {background-image: url(../img/icons/menu_resources_stellar.png);}
.menu-substances-flora {background-image: url(../img/icons/menu_resources_flora.png);}
.menu-substances-special {background-image: url(../img/icons/menu_resources_special.png);}
/* Galaxy Page*/
.galaxy-icon {background-image: url(../img/icons/galaxy-icon.png);}
.menu-euclidgalaxy {background-image: url(../img/icons/euclidgalaxy.png);}
.menu-hilbertdimension {background-image: url(../img/icons/hilbertdimension.png);}
.menu-calypsogalaxy {background-image: url(../img/icons/calypsogalaxy.png);}
.menu-hesperiusdimension {background-image: url(../img/icons/hesperiusdimension.png);}
.menu-hyadesgalaxy {background-image: url(../img/icons/hyadesgalaxy.png);}
.euclid-galaxy {background-image: url(../img/galaxy/euclidgalaxy.png);}
.hilbertdimension {background-image: url(../img/galaxy/hilbertdimension.png);}
.calypsogalaxy {background-image: url(../img/galaxy/calypsogalaxy.png);}
.hesperiusdimension {background-image: url(../img/galaxy/hesperiusdimension.png);}
.hyadesgalaxy {background-image: url(../img/galaxy/hyadesgalaxy.png);}
.galaxyimg.euclidgalaxy {background-image: url(../img/galaxy/euclidgalaxy.jpg);}
.galaxyimg.hilbertdimension {background-image: url(../img/galaxy/hilbertdimension.jpg);}
.galaxyimg.calypsogalaxy {background-image: url(../img/galaxy/calypsogalaxy.jpg);}
.galaxyimg.hesperiusdimension {background-image: url(../img/galaxy/hesperiusdimension.jpg);}
.galaxyimg.hyadesgalaxy {background-image: url(../img/galaxy/hyadesgalaxy.jpg);}
.galaxy-imperfect {background-image: url(../img/icons/GALAXYTEXTUREVARIANTS.WHITEGALAXY.png);}
.galaxy-tranquil {background-image: url(../img/icons/GALAXYTEXTUREVARIANTS.GREENGALAXY.png);}
.galaxy-raging {background-image: url(../img/icons/GALAXYTEXTUREVARIANTS.REDGALAXY.png);}
i.bg_raging, .bg_raging {background-color: #23151c;}
i.bg_Tranquil, .bg_Tranquil {background-color: #0b2819;}
i.bg_Imperfect, .bg_Imperfect {background-color: #092125;}
i.bg_Ancestral, .bg_Ancestral {background-color: #030e21;}
.galaxy-ancestral {background-image: url(../img/icons/GALAXYTEXTURE.1.png);}
/* Stars Page */
.yellow-star {background-image: url(../img/stars/yellow-star-icon.png);}
.yellow-star-bg {background-image: url(../img/stars/bg/yellow-star-bg.jpg);}
.blue-star {background-image: url(../img/stars/blue-star-icon.png);}
.blue-star-bg {background-image: url(../img/stars/bg/blue-star-bg.jpg);}
.green-star {background-image: url(../img/stars/green-star-icon.png);}
.green-star-bg {background-image: url(../img/stars/bg/green-star-bg.jpg);}
.red-star {background-image: url(../img/stars/red-star-icon.png);}
.red-star-bg {background-image: url(../img/stars/bg/red-star-bg.jpg);}
.menu_lush {background-image: url(../img/icons/menu_lush_planet.png);}
.lush {background-image: url(../img/icons/lush_planet.png);}
.menu_toxic {background-image: url(../img/icons/menu_toxic_planet.png);}
.toxic {background-image: url(../img/icons/toxic_planet.png);}
.menu_radioactive {background-image: url(../img/icons/menu_radioactive_planet.png);}
.radioactive {background-image: url(../img/icons/radioactive_planet.png);}
.menu_radioactive {background-image: url(../img/icons/menu_radioactive_planet.png);}
.menu_frozen {background-image: url(../img/icons/menu_frozen_planet.png);}
.frozen {background-image: url(../img/icons/frozen_planet.png);}
.menu_barren {background-image: url(../img/icons/menu_barren_planet.png);}
.barren {background-image: url(../img/icons/barren_planet.png);}
.menu_dead {background-image: url(../img/icons/menu_dead_planet.png);}
.dead {background-image: url(../img/icons/dead_planet.png);}
.menu_scorched {background-image: url(../img/icons/menu_scorched_planet.png);}
.scorched {background-image: url(../img/icons/scorched_planet.png);}
.space-station {background-image: url(../img/icons/menu_space_station.png);}
.space-anomaly {background-image: url(../img/icons/menu_space_anomaly.png);}
.special-shop {background-image: url(../img/icons/special_shop.png);}
/*Buildings*/
.portable_refiner {background-image: url(../img/buildings/portable_refiner.png);}
.medium_refiner {background-image: url(../img/buildings/medium_refiner.png);}
.large_refiner {background-image: url(../img/buildings/large_refiner.png);}
/*End Upgrades*/
.units {background-image: url(../img/icons/units-grey-128.png);}
.units-light {background-image: url(../img/icons/units-light-128.png);}
.quicksilver {background-image: url(../img/icons/USER.SPECIAL.png);}
.PROC_LOOT {background-image: url(../img/UPDATE3/TREASUREPROD.COINCRATE.png);}
.PROC_HIST {background-image: url(../img/UPDATE3/TREASUREPROD.STRANGEBOOK.png);}
.PROC_BIO {background-image: url(../img/UPDATE3/TREASUREPROD.WEIRDSEEDS.png);}
.PROC_FOSS {background-image: url(../img/UPDATE3/TREASUREPROD.FOSSIL.png);}
.PROC_PLNT {background-image: url(../img/BUILDABLE/DECORATION.PLANTPOT3.png);}
.PROC_TOOL {background-image: url(../img/UPDATE3/TRADEPROD.COMPONENT4.png);}
.PROC_FARM {background-image: url(../img/BUILDABLE/DECORATION.PLANTPOT3.png);}
.PROC_SEA {background-image: url(../img/UPDATE3/TREASUREPROD.WATERLOOT.png);}
.PROC_FEAR {background-image: url(../img/U4PRODUCTS/PRODUCT.HORRIFICARTIFACT.png);}
.PROC_SALV {background-image: url(../img/U4PRODUCTS/PRODUCT.SALVAGE.COMMON.png);}
.PROC_BONE {background-image: url(../img/U4PRODUCTS/PRODUCT.BONES.RARE.png);}
.SALVAGE_COMMON {background-image: url(../img/U4PRODUCTS/PRODUCT.SALVAGE.COMMON.png);}
.SALVAGE_UNCOMMON {background-image: url(../img/U4PRODUCTS/PRODUCT.SALVAGE.UNCOMMON.png);}
.SALVAGE_RARE {background-image: url(../img/U4PRODUCTS/PRODUCT.SALVAGE.RARE.png);}
.BONES_COMMON {background-image: url(../img/U4PRODUCTS/PRODUCT.BONES.COMMON.png);}
.BONES_UNCOMMON {background-image: url(../img/U4PRODUCTS/PRODUCT.BONES.UNCOMMON.png);}
.BONES_RARE {background-image: url(../img/U4PRODUCTS/PRODUCT.BONES.RARE.png);}