/* Flags */
.en {
  background: url(../img/flags/en.png);
}
.fr {
  background: url(../img/flags/fr.png);
}
.it {
  background: url(../img/flags/it.png);
}
.de {
  background: url(../img/flags/de.png);
}
.es {
  background: url(../img/flags/es.png);
}
.ru {
  background: url(../img/flags/ru.png);
}
.pl {
  background: url(../img/flags/pl.png);
}
.nl {
  background: url(../img/flags/nl.png);
}
.br {
  background: url(../img/flags/br.png);
}
.cn {
  background: url(../img/flags/cn.png);
}
.ko {
  background: url(../img/flags/ko.png);
}
.ja {
  background: url(../img/flags/ja.png);
}

/* Menu Icons */
i.menu-galaxy {
  background-image: url(../img/icons/galaxy.png);
}
i.menu-stars {
  background-image: url(../img/icons/star.png);
}
i.menu-planets {
  background-image: url(../img/icons/planets.png);
}
i.menu-resources {
  background-image: url(../img/icons/resources.png);
}
i.menu-products {
  background-image: url(../img/icons/products-icon.png);
}
i.menu-exosuit {
  background-image: url(../img/icons/exosuit.png);
}
i.menu-multitool {
  background-image: url(../img/icons/multitool.png);
}
i.menu-starship {
  background-image: url(../img/icons/starship.png);
}
i.menu-structures {
  background-image: url(../img/icons/structures.png);
}
i.menu-freighter {
  background-image: url(../img/icons/freighter.png);
}
.menu-yellow-star {
  background-image: url(../img/icons/yellowstar.png);
}
.menu-blue-star {
  background-image: url(../img/icons/bluestar.png);
}
.menu-green-star {
  background-image: url(../img/icons/greenstar.png);
}
.menu-red-star {
  background-image: url(../img/icons/redstar.png);
}
.menu-recipes {
  background-image: url(../img/icons/refiner.png);
}
/* Galaxy Page*/
.galaxy-icon {
  background-image: url(../img/icons/galaxy-icon.png);
}
.menu-euclidgalaxy {
  background-image: url(../img/icons/euclidgalaxy.png);
}
.menu-hilbertdimension {
  background-image: url(../img/icons/hilbertdimension.png);
}
.menu-calypsogalaxy {
  background-image: url(../img/icons/calypsogalaxy.png);
}
.menu-hesperiusdimension {
  background-image: url(../img/icons/hesperiusdimension.png);
}
.menu-hyadesgalaxy {
  background-image: url(../img/icons/hyadesgalaxy.png);
}

.euclidgalaxy {
  background-image: url(../img/galaxy/euclidgalaxy.png);
}
.hilbertdimension {
  background-image: url(../img/galaxy/hilbertdimension.png);
}
.calypsogalaxy {
  background-image: url(../img/galaxy/calypsogalaxy.png);
}
.hesperiusdimension {
  background-image: url(../img/galaxy/hesperiusdimension.png);
}
.hyadesgalaxy {
  background-image: url(../img/galaxy/hyadesgalaxy.png);
}

.galaxyimg.euclidgalaxy {
  background-image: url(../img/galaxy/euclidgalaxy.jpg);
}
.galaxyimg.hilbertdimension {
  background-image: url(../img/galaxy/hilbertdimension.jpg);
}
.galaxyimg.calypsogalaxy {
  background-image: url(../img/galaxy/calypsogalaxy.jpg);
}
.galaxyimg.hesperiusdimension {
  background-image: url(../img/galaxy/hesperiusdimension.jpg);
}
.galaxyimg.hyadesgalaxy {
  background-image: url(../img/galaxy/hyadesgalaxy.jpg);
}
/* Stars Page */
.yellow-star {
  background-image: url(../img/stars/yellow-star-icon.png);
}
.yellow-star-bg {
  background-image: url(../img/stars/bg/yellow-star-bg.jpg);
}
.blue-star {
  background-image: url(../img/stars/blue-star-icon.png);
}
.blue-star-bg {
  background-image: url(../img/stars/bg/blue-star-bg.jpg);
}
.green-star {
  background-image: url(../img/stars/green-star-icon.png);
}
.green-star-bg {
  background-image: url(../img/stars/bg/green-star-bg.jpg);
}
.red-star {
  background-image: url(../img/stars/red-star-icon.png);
}
.red-star-bg {
  background-image: url(../img/stars/bg/red-star-bg.jpg);
}
i.Lush {
  background-image: url(../img/icons/lush_planet.png);
}
.nanites {background-image: url(../img/e/nanites.png);}
.activated_cadmium {background-image: url(../img/e/activated_cadmium.png);}
.activated_copper {background-image: url(../img/e/activated_copper.png);}
.activated_emeril {background-image: url(../img/e/activated_emeril.png);}
.activated_indium {background-image: url(../img/e/activated_indium.png);}
.ammonia {background-image: url(../img/e/ammonia.png);}
.cactus_flesh {background-image: url(../img/e/cactus_flesh.png);}
.cadmium {background-image: url(../img/e/cadmium.png);}
.carbon {background-image: url(../img/e/carbon.png);}
.chlorine {background-image: url(../img/e/chlorine.png);}
.chromatic_metal {background-image: url(../img/e/chromatic_metal.png);}
.cobalt {background-image: url(../img/e/cobalt.png);}
.condensed_carbon {background-image: url(../img/e/condensed_carbon.png);}
.copper {background-image: url(../img/e/copper.png);}
.coprite {background-image: url(../img/e/coprite.png);}
.deuterium {background-image: url(../img/e/deuterium.png);}
.di-hydrogen {background-image: url(../img/e/di-hydrogen.png);}
.dioxite {background-image: url(../img/e/dioxite.png);}
.emeril {background-image: url(../img/e/emeril.png);}
.ferrite_dust {background-image: url(../img/e/ferrite_dust.png);}
.frost_crystal {background-image: url(../img/e/frost_crystal.png);}
.fungal_mould {background-image: url(../img/e/fungal_mould.png);}
.gamma_root {background-image: url(../img/e/gamma_root.png);}
.gold {background-image: url(../img/e/gold.png);}
.indium {background-image: url(../img/e/indium.png);}
.ionised_cobalt {background-image: url(../img/e/ionised_cobalt.png);}
.kelp_sac {background-image: url(../img/e/kelp_sac.png);}
.living_slime {background-image: url(../img/e/living_slime.png);}
.magnetised_ferrite {background-image: url(../img/e/magnetised_ferrite.png);}
.marrow_bulb {background-image: url(../img/e/marrow_bulb.png);}
.mordite {background-image: url(../img/e/mordite.png);}
.nitrogen {background-image: url(../img/e/nitrogen.png);}
.oxygen {background-image: url(../img/e/oxygen.png);}
.paraffinium {background-image: url(../img/e/paraffinium.png);}
.phosphorus {background-image: url(../img/e/phosphorus.png);}
.platinum {background-image: url(../img/e/platinum.png);}
.pugneum {background-image: url(../img/e/pugneum.png);}
.pure_ferrite {background-image: url(../img/e/pure_ferrite.png);}
.pyrite {background-image: url(../img/e/pyrite.png);}
.radon {background-image: url(../img/e/radon.png);}
.residual_goop {background-image: url(../img/e/residual_goop.png);}
.runaway_mould {background-image: url(../img/e/runaway_mould.png);}
.rusted_metal {background-image: url(../img/e/rusted_metal.png);}
.salt {background-image: url(../img/e/salt.png);}
.silver {background-image: url(../img/e/silver.png);}
.sodium {background-image: url(../img/e/sodium.png);}
.sodium_nitrate {background-image: url(../img/e/sodium_nitrate.png);}
.solanium {background-image: url(../img/e/solanium.png);}
.star_bulb {background-image: url(../img/e/star_bulb.png);}
.sulphurine {background-image: url(../img/e/sulphurine.png);}
.tritium {background-image: url(../img/e/tritium.png);}
.uranium {background-image: url(../img/e/uranium.png);}
.viscous_fluids {background-image: url(../img/e/viscous_fluids.png);}
/*Products*/
.acid {background-image: url(../img/products/acid.png);}
.advanced_ion_battery {background-image: url(../img/products/advanced_ion_battery.png);}
.albumen_pearl {background-image: url(../img/products/albumen_pearl.png);}
.antimatter {background-image: url(../img/products/antimatter.png);}
.antimatter_housing {background-image: url(../img/products/antimatter_housing.png);}
.aronium {background-image: url(../img/products/aronium.png);}
.atlaspass {background-image: url(../img/products/atlaspass.png);}
.atlas_stone {background-image: url(../img/products/atlas_stone.png);}
.captured_nanode {background-image: url(../img/products/captured_nanode.png);}
.carbon_crystal {background-image: url(../img/products/carbon_crystal.png);}
.carbon_nanotubes {background-image: url(../img/products/carbon_nanotubes.png);}
.chloride_lattice {background-image: url(../img/products/chloride_lattice.png);}
.circuit_board {background-image: url(../img/products/circuit_board.png);}
.cobalt_mirror {background-image: url(../img/products/cobalt_mirror.png);}
.cryo-pump {background-image: url(../img/products/cryo-pump.png);}
.cryogenic_chamber {background-image: url(../img/products/cryogenic_chamber.png);}
.dark_matter {background-image: url(../img/products/dark_matter.png);}
.dawns_end {background-image: url(../img/products/dawns_end.png);}
.defence_chit {background-image: url(../img/products/defence_chit.png);}
.destablised_sodium {background-image: url(../img/products/destablised_sodium.png);}
.di-hydrogen_jelly {background-image: url(../img/products/di-hydrogen_jelly.png);}
.dirty_bronze {background-image: url(../img/products/dirty_bronze.png);}
.englobed_shade {background-image: url(../img/products/englobed_shade.png);}
.enriched_carbon {background-image: url(../img/products/enriched_carbon.png);}
.explosive_drones {background-image: url(../img/products/explosive_drones.png);}
.frigate_fuel {background-image: url(../img/products/frigate_fuel.png);}
.fuel_oxidiser {background-image: url(../img/products/fuel_oxidiser.png);}
.fusion_accelerant {background-image: url(../img/products/fusion_accelerant.png);}
.fusion_ignitor {background-image: url(../img/products/fusion_ignitor.png);}
.gek_relic {background-image: url(../img/products/gek_relic.png);}
.geodesite {background-image: url(../img/products/geodesite.png);}
.glass {background-image: url(../img/products/glass.png);}
.grantine {background-image: url(../img/products/grantine.png);}
.gravitino_ball {background-image: url(../img/products/gravitino_ball.png);}
.heart_of_the_sun {background-image: url(../img/products/heart_of_the_sun.png);}
.heat_capacitor {background-image: url(../img/products/heat_capacitor.png);}
.hermetic_seal {background-image: url(../img/products/hermetic_seal.png);}
.herox {background-image: url(../img/products/herox.png);}
.holographic_analyser {background-image: url(../img/products/holographic_analyser.png);}
.hot_ice {background-image: url(../img/products/hot_ice.png);}
.ion_battery {background-image: url(../img/products/ion_battery.png);}
.iridesite {background-image: url(../img/products/iridesite.png);}
.korvax_casing {background-image: url(../img/products/korvax_casing.png);}
.korvax_convergence_cube {background-image: url(../img/products/korvax_convergence_cube.png);}
.larval_core {background-image: url(../img/products/larval_core.png);}
.lemmium {background-image: url(../img/products/lemmium.png);}
.life_support_gel {background-image: url(../img/products/life_support_gel.png);}
.liquid_explosive {background-image: url(../img/products/liquid_explosive.png);}
.living_glass {background-image: url(../img/products/living_glass.png);}
.lubricant {background-image: url(../img/products/lubricant.png);}
.magno-gold {background-image: url(../img/products/magno-gold.png);}
.metal_plating {background-image: url(../img/products/metal_plating.png);}
.microprocessor {background-image: url(../img/products/microprocessor.png);}
.mind_arc {background-image: url(../img/products/mind_arc.png);}
.mind_control_device {background-image: url(../img/products/mind_control_device.png);}
.mineral_compressor {background-image: url(../img/products/mineral_compressor.png);}
.modified_quanta {background-image: url(../img/products/modified_quanta.png);}
.navigation_data {background-image: url(../img/products/navigation_data.png);}
.nipNip_buds {background-image: url(../img/products/nipNip_buds.png);}
.nitrogen_salt {background-image: url(../img/products/nitrogen_salt.png);}
.noospheric_orb {background-image: url(../img/products/noospheric_orb.png);}
.novae_reclaiment {background-image: url(../img/products/novae_reclaiment.png);}
.organic_catalyst {background-image: url(../img/products/organic_catalyst.png);}
.oxygen_capsule {background-image: url(../img/products/oxygen_capsule.png);}
.oxygen_filter {background-image: url(../img/products/oxygen_filter.png);}
.photic_jade {background-image: url(../img/products/photic_jade.png);}
.poly_fibre {background-image: url(../img/products/poly_fibre.png);}
.portable_reactor {background-image: url(../img/products/portable_reactor.png);}
.projectile_ammunition {background-image: url(../img/products/projectile_ammunition.png);}
.quad_servo {background-image: url(../img/products/quad_servo.png);}
.quantum_processor {background-image: url(../img/products/quantum_processor.png);}
.rare_metal_element {background-image: url(../img/products/rare_metal_element.png);}
.sac_venom {background-image: url(../img/products/sac_venom.png);}
.salt_refractor {background-image: url(../img/products/salt_refractor.png);}
.salvaged_technology {background-image: url(../img/products/salvaged_technology.png);}
.semiconductor {background-image: url(../img/products/semiconductor.png);}
.sodium_diode {background-image: url(../img/products/sodium_diode.png);}
.starship_launch_fuel {background-image: url(../img/products/starship_launch_fuel.png);}
.stasis_device {background-image: url(../img/products/stasis_device.png);}
.state_phasure {background-image: url(../img/products/state_phasure.png);}
.superconductor {background-image: url(../img/products/superconductor.png);}
.superoxide_crystal {background-image: url(../img/products/superoxide_crystal.png);}
.storm_crystal {background-image: url(../img/products/storm_crystal.png);} 
.technology_module {background-image: url(../img/products/technology_module.png);}
.tetracobalt {background-image: url(../img/products/tetracobalt.png);}
.thermic_condensate {background-image: url(../img/products/thermic_condensate.png);}
.unstable_gel {background-image: url(../img/products/unstable_gel.png);}
.unstable_plasma {background-image: url(../img/products/unstable_plasma.png);}
.vortex_cube {background-image: url(../img/products/vortex_cube.png);}
.vykeen_dagger {background-image: url(../img/products/vykeen_dagger.png);}
.vykeen_effigy {background-image: url(../img/products/vykeen_effigy.png);}
.walker_brain {background-image: url(../img/products/walker_brain.png);}
.warp_cell {background-image: url(../img/products/warp_cell.png);}
/*Upgrades*/
.ablative_armour {background-image: url(../img/upgrades/ablative_armour.png);}
.advanced_mining_laser {background-image: url(../img/upgrades/advanced_mining_laser.png);}
.amplified_cartridges {background-image: url(../img/upgrades/amplified_cartridges.png);}
.analysis_visor {background-image: url(../img/upgrades/analysis_visor.png);}
.barrel_ioniser {background-image: url(../img/upgrades/barrel_ioniser.png);}
.blaze_javelin {background-image: url(../img/upgrades/blaze_javelin.png);}
.blown_transistor {background-image: url(../img/upgrades/blown_transistor.png);}
.boltcaster {background-image: url(../img/upgrades/boltcaster.png);}
.boltcaster_sm {background-image: url(../img/upgrades/boltcaster_sm.png);}
.cadmium_drive {background-image: url(../img/upgrades/cadmium_drive.png);}
.combat_scope {background-image: url(../img/upgrades/combat_scope.png);}
.conflict_scanner {background-image: url(../img/upgrades/conflict_scanner.png);}
.containment_failure {background-image: url(../img/upgrades/containment_failure.png);}
.corrupt_module {background-image: url(../img/upgrades/corrupt_module.png);}
.cyclotron_ballista {background-image: url(../img/upgrades/cyclotron_ballista.png);}
.damaged_gears {background-image: url(../img/upgrades/damaged_gears.png);}
.damaged_wiring {background-image: url(../img/upgrades/damaged_wiring.png);}
.deflector_shield {background-image: url(../img/upgrades/deflector_shield.png);}
.dyson_pump {background-image: url(../img/upgrades/dyson_pump.png);}
.economy_scanner {background-image: url(../img/upgrades/economy_scanner.png);}
.efficient_thrusters {background-image: url(../img/upgrades/efficient_thrusters.png);}
.emeril_drive {background-image: url(../img/upgrades/emeril_drive.png);}
.exocraft_acceleration_module {background-image: url(../img/upgrades/exocraft_acceleration_module.png);}
.exocraft_acceleration_module_upgrade {background-image: url(../img/upgrades/exocraft_acceleration_module_upgrade.png);}
.exocraft_mining_laser {background-image: url(../img/upgrades/exocraft_mining_laser.png);}
.exocraft_mining_laser_upgrade_sigma {background-image: url(../img/upgrades/exocraft_mining_laser_upgrade_sigma.png);}
.exocraft_mounted_cannon {background-image: url(../img/upgrades/exocraft_mounted_cannon.png);}
.exocraft_mounted_cannon_upgrade_sigma {background-image: url(../img/upgrades/exocraft_mounted_cannon_upgrade_sigma.png);}
.exocraft_signal_booster {background-image: url(../img/upgrades/exocraft_signal_booster.png);}
.exocraft_signal_booster_upgrade {background-image: url(../img/upgrades/exocraft_signal_booster_upgrade.png);}
.fourier_de_limiter {background-image: url(../img/upgrades/fourier_de_limiter.png);}
.fragment_supercharger {background-image: url(../img/upgrades/fragment_supercharger.png);}
.fusion_engine {background-image: url(../img/upgrades/fusion_engine.png);}
.geology_cannon {background-image: url(../img/upgrades/geology_cannon.png);}
.hazard_protection {background-image: url(../img/upgrades/hazard_protection.png);}
.haz-mat_gauntlet {background-image: url(../img/upgrades/haz-mat_gauntlet.png);}
.hull_fracture {background-image: url(../img/upgrades/hull_fracture.png);}
.hyperdrive {background-image: url(../img/upgrades/hyperdrive.png);}
.indium_drive {background-image: url(../img/upgrades/indium_drive.png);}
.infra_knife_accelerator {background-image: url(../img/upgrades/infra_knife_accelerator.png);}
.jetpack {background-image: url(../img/upgrades/jetpack.png);}
.large_rocket_tubes {background-image: url(../img/upgrades/large_rocket_tubes.png);}
.launch_thruster {background-image: url(../img/upgrades/launch_thruster.png);}
.life_support {background-image: url(../img/upgrades/life_support.png);}
.loom_damage {background-image: url(../img/upgrades/loom_damage.png);}
.mass_accelerator {background-image: url(../img/upgrades/mass_accelerator.png);}
.mining_beam {background-image: url(../img/upgrades/mining_beam.png);}
.neural_stimulator {background-image: url(../img/upgrades/neural_stimulator.png);}
.nonlinear_optics {background-image: url(../img/upgrades/nonlinear_optics.png);}
.nonlinear_optics_2 {background-image: url(../img/upgrades/nonlinear_optics_2.png);}
.obsolete_technology {background-image: url(../img/upgrades/obsolete_technology.png);}
.oxygen_recycler {background-image: url(../img/upgrades/oxygen_recycler.png);}
.personal_forcefield {background-image: url(../img/upgrades/personal_forcefield.png);}
.phase_beam {background-image: url(../img/upgrades/phase_beam.png);}
.photon_cannon {background-image: url(../img/upgrades/photon_cannon.png);}
.photonix_core {background-image: url(../img/upgrades/photonix_core.png);}
.plasma_launcher {background-image: url(../img/upgrades/plasma_launcher.png);}
.plasma_resonator {background-image: url(../img/upgrades/plasma_resonator.png);}
.positron_ejector {background-image: url(../img/upgrades/positron_ejector.png);}
.pulse_engine {background-image: url(../img/upgrades/pulse_engine.png);}
.pulse_spitter {background-image: url(../img/upgrades/pulse_spitter.png);}
.radiation_leak {background-image: url(../img/upgrades/radiation_leak.png);}
.remembrance {background-image: url(../img/upgrades/remembrance.png);}
.rocket_boots {background-image: url(../img/upgrades/rocket_boots.png);}
.rocket_launcher {background-image: url(../img/upgrades/rocket_launcher.png);}
.rusted_circuits {background-image: url(../img/upgrades/rusted_circuits.png);}
.rusted_power_core {background-image: url(../img/upgrades/rusted_power_core.png);}
.scanner {background-image: url(../img/upgrades/scanner.png);}
.scatter_blaster {background-image: url(../img/upgrades/scatter_blaster.png);}
.shell_greaser {background-image: url(../img/upgrades/shell_greaser.png);}
.shield_lattice {background-image: url(../img/upgrades/shield_lattice.png);}
.short_circuit {background-image: url(../img/upgrades/short_circuit.png);}
.star_seed {background-image: url(../img/upgrades/star_seed.png);}
.teleport_receiver {background-image: url(../img/upgrades/teleport_receiver.png);}
.terrain_manipulator {background-image: url(../img/upgrades/terrain_manipulator.png);}
.waveform_recycler {background-image: url(../img/upgrades/waveform_recycler.png);}
/*Buildings*/
.portable_refiner {background-image: url(../img/buildings/portable_refiner.png);}
.medium_refiner {background-image: url(../img/buildings/medium_refiner.png);}
.large_refiner {background-image: url(../img/buildings/large_refiner.png);}
/*End Upgrades*/
.units {background-image: url(../img/icons/units-grey-128.png);}
.units-grey {background-image: url(../img/icons/units-grey-128.png);}
.units-light {background-image: url(../img/icons/units-light-128.png);}
